<% if @urls.length != 0 %>
<h2>Links</h2>
<table class="links">
	<thead>
		<tr>
			<th class="url">
				URL
			</th>
			<th class="shorturl">
				Shortened URL
			</th>
			<th class="count">
				Clicks Count
			</th>
		</tr>
	</thead>
	<tbody>
		<% @urls.each do |u| %>
		<tr>
			<td class="url">
				<%= u.url %>
			</td>
			<td class="shorturl">
				<a href="http://<%= request.host_with_port %>/<%= u.key %>">
					http://<%= request.host_with_port %>/<%= u.key %>
				</a>
			</td>
			<td class="count">
				<%= u.count %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<h2>No links yet</h2>
<% end %>
